body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #e0deea, #0d0899);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
 
}

h1 {
  background: linear-gradient(to bottom right, #e0deea, #0d0899);
}